movies/* filter=lfs diff=lfs merge=lfs -text
C1ext !text !filter !merge !diff
P1-WT !text !filter !merge !diff
PDBfiles !text !filter !merge !diff
*/*.xtc !text !filter !merge !diff
trajectories !text !filter !merge !diff
